@use "global" as *;

.p-archive__cards {
	margin-top: rem(60);
	@include mq("md") {
		margin-top: rem(40);
	}
}
.p-archive__pagenavi {
	margin-top: rem(80);
	@include mq("md") {
		margin-top: rem(40);
	}
}
.p-archive__text {
	margin-top: rem(80);
	font-size: rem(20);
	@include mq("md") {
		margin-bottom: rem(80);
		font-size: rem(16);
	}
}
