@use "global" as *;

.p-footermenu {
	display: flex;
	justify-content: center;
	grid-gap: rem(50);
	color: $white;
	@include mq("md") {
		flex-direction: column;
		grid-gap: rem(20);
	}
}
.p-footermenu__item {
	font-size: rem(24);
	font-weight: 600;
	@include mq("md") {
		font-size: rem(20);
	}
}
.p-footermenu__links {
	color: $white;
}
