@use "global" as *;
@use "sass:math";
.p-mv {
}
.p-mv__slider {
	.swiper-slide {
		aspect-ratio: 16/9;
		position: relative;
	}

	.swiper-slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	.swiper-button-prev,
	.swiper-button-next {
		z-index: 10;
	}
	.swiper-button-prev::after {
		content: "〈";
		color: $white;
		text-align: center;
		left: 0;
	}
	.swiper-button-next::after {
		content: "〉";
		color: $white;
		text-align: center;
		right: 0;
	}
	@include mq("md") {
		.swiper-button-prev,
		.swiper-button-next {
			transform: scale(0.8);
		}
		.swiper-button-prev {
			left: -15px;
		}
		.swiper-button-next {
			right: -15px;
		}
	}
}
